<h3>Editar dados da apresentação</h3><br>
<form action="/apresentacaoEdit" method="POST">
    <div class="form-group" id="form-edit">
        <input type="hidden" name="id" value="{{id}}">
        Música <br><input type="text" name="musica" placeholder="Nome da música desejada" class="textField" id="musica" value="{{musica}}">
        <br>
        Participante 2 <br><input type="text" name="participante2" placeholder="Nome do integrante do grupo" class="textField" id="participante2" value="{{participante2}}">
        <br>
        Participante 3 <br><input type="text" name="participante3" placeholder="Nome do integrante do grupo" class="textField" id="participante3" value="{{participante3}}">
        <br>
        Participante 4 <br><input type="text" name="participante4" placeholder="Nome do integrante do grupo" class="textField" id="participante4" value="{{participante4}}">
        <br>
        Participante 5 <br><input type="text" name="participante5" placeholder="Nome do integrante do grupo" class="textField" id="participante5" value="{{participante5}}">

        <br><br>
    <div>
    <button type="submit" class="btn btn-dark mb-2">Salvar</button>
    <a href="/apresentacaoList"><button type="button" class="btn btn-secondary mb-2">Cancelar</button></a>
</form>