<h3>Todos os Usuários</h3><br>
<table class="table table-striped">
<thead  class="thead-dark">
    <tr>
        <th scope="col"> IdUsuario </th>
        <th scope="col"> Nome </th>
        <th scope="col"> Matricula </th>
        <th scope="col"> Tipo do Usuario </th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
</thead>
<tbody>
    {{#each usuarios}}
    <tr>
        <td>{{id}}</td>
        <td>{{nome}}</td>
        <td>{{matricula}}</td>
        <td>{{tipousuario}}</td>
        <td><a href="usuarioEdit/{{id}}"><button class="btn btn-dark">Editar</button></a></td>
        <td><a href="usuarioDelete/{{id}}"><button class="btn btn-dark">Eliminar</button></a></td>
    </tr>
    {{/each}}
</tbody>
</table>